* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  margin: 3rem auto;
  background-color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.top-navbar-links {
  display: flex;
  list-style: none;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding: 1rem 1.5rem;
}

.top-navbar-links a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.top-navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.header-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem 3rem;
}

.header-title h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.cards {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  grid-gap: 3rem;
  justify-content: space-around;
  text-align: center;
}
.cards a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card {
  flex: 0 0 calc(50% - 2em);
  max-width: 300px;
  max-height: 350px;
}

.card-image {
  height: 300px;
  margin-bottom: 2rem;
  width: 300px;
}

.card-image:hover {
  transform: translate(0, -15px);
}

.card-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.about-us {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  height: 100vh;
  margin-top: 5rem;
  padding: 4rem;
}

.about-sections {
  padding: 4rem;
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(50% - 2em);
  }
}

@media screen and (min-width: 40em) {
  .card {
    flex: 0 1 calc(100% - 2em);
  }
}

@media only screen and (max-width: 550px) {
  nav ul li a:hover {
    text-decoration: underline;
  }
  .hamburger {
    display: flex;
    margin: 0;
    position: fixed;
    z-index: 100;
    top: 3rem;
    right: 2rem;
    padding: 3px;
    cursor: pointer;
    opacity: 0.8;
  }

  nav ul {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #030303;
  }

  nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
  }

  .showMenu {
    transform: translateY(0);
  }
}
