* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 95%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: #726b74;
}

.container {
  width: 100%;
  /* height: 100vh; */
  background-color: #17151c;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #000000;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.month {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 12rem;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  border-radius: 50%;
}

.days div:hover:not(.today) {
  background-color: #405c51;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}

/* Appoitment form */

.appoitment {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: none;
}

legend {
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffffff;
  margin: 0 auto;
  text-transform: uppercase;
}

.appoitment img {
  width: 25px;
  height: 25px;
}

form {
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 20px;
}

fieldset > * {
  flex: 1 45rem;
}

form div {
  display: flex;
  flex-wrap: wrap;
}

div input:nth-child(2) {
  width: 150px;
  margin-left: 20px;
}

input {
  padding: 10px 20px 10px 20px;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 10px;
}

select {
  padding: 10px 20px 10px 20px;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 10px;
}
label {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}
label img {
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 170px;
  height: 40px;
  background-color: #167e56;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-buttons button:last-child {
  background-color: rgb(238, 255, 0);
}

button a {
  color: #000000;
  text-decoration: none;
}

button:hover {
  background-color: #405c51;
  border: 0.2rem solid #777;
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  .appoitment {
    width: 100%;
  }
  body {
    width: 100%;
  }

  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 440px) {
  .appoitment {
    width: 100%;
  }
  body {
    width: 100%;
  }

  html {
    font-size: 43% !important;
  }
}
